body {
  font-family: "TT Lakes", serif;
  overflow: scroll;
  margin: 0;
}

.header {
  display: flex;
  margin: 10px;
  gap: 15px;
}

.header__menu,
.header__call,
.header__client,
.header__settings,
.header__view {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #ff3e79;
  overflow: hidden;
  background-color: #ff3e79;
}

.header__border,
.header__call,
.header__client,
.header__settings,
.header__view {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.header__call,
.header__client {
  display: none;
}

.header__logo {
  width: 96px;
  height: 50px;
  flex: 1;
}

.service {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service__status,
.service__task {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  visibility: hidden;
  font-weight: 600;
}

.service__status {
  margin-left: 10px; /* Добавляем отступ между вторым и третьим элементом */
}

h1 {
  flex: 1;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  white-space: nowrap;
  gap: 20px;
  padding: 5px;
  margin-left: 20px;
}
.list__brand {
  outline: 2px solid #b8ffec;
  border-radius: 6px;
}
h1 {
  border-left: 5px solid #41f6d7;
  padding-left: 10px;
}

.section {
  margin-top: 80px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.section__text {
  flex: 1; /* Текст занимает всю доступную ширину */
}
.section__text--hiddenMobile,
.section__text--hiddenLaptop {
  display: none;
}
.section__next {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.section__img {
  width: 320px;
  height: 176px;
  border-radius: 5px;
  margin-left: 20px;
}

@media (768px <= width < 1119px) {
  .header__call,
  .header__client {
    display: block;
  }
  .section__text--hiddenMobile {
    display: block;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .service__status,
  .service__task {
    visibility: visible;
  }
  .section__text--hiddenLaptop {
    display: block;
  }
}
